body{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
/* <!-- nav-bar start --> */

.nav-elements h1{
    font-size: 25px;
    color: #555b57;
    
}
.nav-elements span{
    color: orangered;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav img {
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #555b57;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
h1{
    font-size: 40px;
    font-weight: 700;
    line-height:15px;
    margin-top:50px;
   
}
.half h2{
    color:#555b57;
    margin-top: 100px;
}
span{
    color:orangered;
}
.button {
    padding-top: 50px;
}
.button a {
    background-image: linear-gradient(orange,salmon);
    color: white;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    
    }
    #skipdiet img{
        height: 100%;
    
    }
    #aboutme img{
        height: 100%;
    
    }
#skipdiet{
    display: flex;
    color:#555b57;
}
.half{
    width: 50%;
    height:600px;
    padding-left: 4%;
    padding-right: 4%;
}
#aboutme{
    display: flex;
    background-image: url(/images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 50px;
   
}
#recipies-section
{
   padding: 30px; 
}
#recipies-section h2{
    text-align: center;
}
#recipies-section p{
    text-align: center;
    width: 50%;
    margin-left:25%;
}
.all-recipies{
    display:flex;
    color:#555b57;
    width:100%;
    margin-top:50px;
  
}
.one-recipie{
height:550px;
 width:30%;
padding-left: 70px;
padding-right:70px;
margin-left:50px;
margin-right:50px;
border-radius:15px;
background-color: white;
box-shadow: 10px 10px 10px 10px #aaaaaa;
   
}
.one-recipie img{
width:100%;
margin-top:25px;
}
.one-recipie h3{
    text-align: center;

}
.one-recipie a{
    background-image: linear-gradient(orange,salmon);
    color: white;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
   margin-left: 55px; 
  
}
.contact{
    height:600px;
    width:100%;
    background-image: url(/images/food/4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top:30px;
}
.contact-child{
    width: 280px;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    margin-left:300px;
    margin-top:300px;
}
.form-elements{
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 1px solid orangered;
}
.contact-child input{
    padding: 8px 53px;
}
.contact-child h1{
    color: white;
    font-size: 40px;
    
}
.contact-child .btn {
    margin-top: 30px;
    border-radius: 10px;
    font-size:20px;
    font-weight:600;
    color: orangered;
}
.footer{
    color:#555b57;
    background-color:black;
    height: 150px;
    text-align: center;
    margin-top:-20px;
}
.footer h2{
    padding-top:30px;
}




