body{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height:15px;
    margin-top:50px;
   
}
.half h2{
    color:#555b57;
    margin-top: 100px;
}
span{
    color:orangered;
}
.button {
    padding-top: 50px;
}
.button a {
    background-image: linear-gradient(orange,salmon);
    color: white;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    
    }
    #skipdiet img{
        height: 100%;
    
    }
    #aboutme img{
        height: 100%;
    
    }
#skipdiet{
    display: flex;
    color:#555b57;
    margin-top: 50px;
   
}
.half{
    width: 50%;
    height:600px;
    padding-left: 4%;
    padding-right: 4%;
}


#aboutme{
    display: flex;
    background-image: url(/images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 50px;
   
}
#recipies-section
{
   padding: 30px; 
}
#recipies-section h2{
    text-align: center;
}
#recipies-section p{
    text-align: center;
    width: 50%;
    margin-left:25%;
}
.all-recipies{
    display:flex;
    color:#555b57;
    width:100%;
    margin-top:50px;
  
}
.one-recipie{
height:550px;
 width:30%;
padding-left: 70px;
padding-right:70px;
margin-left:50px;
margin-right:50px;
border-radius:15px;
background-color: white;
box-shadow: 10px 10px 10px 10px #aaaaaa;
   
}
.one-recipie img{
width:100%;
margin-top:25px;
}
.one-recipie h3{
    text-align: center;

}
.one-recipie a{
    background-image: linear-gradient(orange,salmon);
    color: white;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
   margin-left: 55px; 
  
}

.footer{
    color:#555b57;
    background-color:black;
    height: 200px;
    text-align: center;
    
}
.footer h2{
    padding-top:50px;
}


